.return-button {
    display: block;
    margin-top: 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    height: 36px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.return-button:hover {
    background-color: #0056b3;
}
.push_right{
    margin-left: 50%;
}