.picture-container {
    height: 100%;
    width: 30%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .picture-text {
    text-align: center;
    color: rgb(23, 40, 192); 
    border-color: black;
    margin-bottom: 2%;
  }
  
  .picture-preview {
    max-width: 500px;
    max-height: 800px;
    width: auto;
    height: auto;
    object-fit: contain;
    margin-top: 1rem;
  }